body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  background-image: url("msa-phase-2-background.jpg");
}

/* Header */
.header-wrapper {
  color: black;
  background-color: white;
  width: 100%;
  height: 80px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: relative;
  font-size: 30px;
  padding-top: 0px;
  height: 80px;
  width: 100%;
}


.app-btn {
  font-family: Helvetica;
  background-color: lightgrey;
  border: 2px solid black;
  text-align: center;
  font-size:18px;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.app-btn:hover {
  background-color: darkgrey;
}

.header-btn {
  font-family: Helvetica;
  color: black;
  vertical-align: middle;
  background-color:white;
  border: 5px solid black;
  position: absolute;
  margin-right: 30px;
  font-size:18px;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  right: 0px;
}

.help-btn {
  font-family: Helvetica;
  color: black;
  vertical-align: middle;
  background-color:white;
  border: 5px solid black;
  position: absolute;
  margin-left: 30px;
  font-size:18px;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 0px;
}

.help-btn:hover {
  background-color: lightgrey;
}

.header-btn:hover {
  background-color: lightgrey;
}

.app-body {
  margin-bottom: 2%;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  width: 100vw;
}

.search-body {
  padding: 1%;
  background-color: white;
  position: absolute;
  left:2%;
  width: 46.5vw;
  box-shadow: 3px 3px 5px black;
  height: calc(94vh - 80px);
}

.display-body {
  padding: 1%;
  background-color: white;
  position: absolute;
  right:2%;
  width: 46.5vw;
  box-shadow: 3px 3px 5px black;
  height: calc(94vh - 80px);
}

.search-wrapper {
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 20px;
  margin-top: 20px;
  padding: 5px;
}

.btn-container > div {
  margin: 5px;
}

.search-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: bold;
  font-size: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 20px;
  margin-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.search-bar {
  height: 43px;
  font-size: 100%;
  width: 60%;
}

.search-btn {
  font-family: Helvetica;
  background-color: lightgrey;
  border: 2px solid black;
  height:43px;
  display: table-cell;
  vertical-align: middle;
  font-size:18px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.search-btn:hover {
  background-color: darkgrey;
}

.search-table {
  margin-top: 20px;
  height: calc(100vh - 350px);
  overflow-y: scroll;
  cursor: pointer;
}

.recording-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 20px;
  margin-top: 20px;
}

.recording-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 20px;
  margin-top: 20px;
}

.warning-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 20px;
  margin-top: 20px;
}
